* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ECECE8;
}

#logo {
    flex: 2fr;
    margin-right: 30vw;
}

.option {
    color: #E0E0E0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}
.option:hover{
    color: black;
    cursor: pointer;
}
.menuButton{
    display: none;
}
#menu{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#hero-section{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
#col-1{
    display: flex;
    flex-direction: column;
    flex: 1fr;
    width: 40vw;
    height: 60vh;
    align-items: first baseline;
}
#r1{
    width: 25vw;
    color: #333;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 30px 30px 30px 90px;
}
#r2{
    color: #828282;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 30px;
}
#col-2{
    flex: 2fr;
    width: 60vw;
    height: 60vh;
}

.topic{
    width: 100px;
    height: 100px;
    background-color: red;
}


#pop-up{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #c1bcbc50;
    display: none;
    align-items: center;
    justify-content: center;
}
#popup-body{
    position: relative;
    padding: 20px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    gap: 20px
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: black;
}
.category{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
}

#pop-r1{
    color: #333;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 5px;
}

#pop-r2{
    color: #333;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

label{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    text-align: center;
    outline: none;
    border-radius: 4px;
    gap: 3px;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 104%; /* 15.36px */
}

input:checked + label {
    background-color: #ecd805;
    border-radius: 4px;
    margin: 3px;
}
input[type="checkbox"], input[type="radio"]{
    display: none;
}
.unselect{
    display: none;
}

.category input:checked + label>.unselect{
    display: inline-block;
    background-color: #000;
    color: white;
}

.question-options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.questions{
    width: 90%;
    height: 60vh;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}
.question{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 600;
    background-color: #ecd805;
    padding: 20px;
    border-radius: 6px;
}
.question-options label{
    background-color: #828282;
    padding: 20px;
}
.question-options input:checked + label{
    color: white;
    font-size: 18px;
}

#results-section{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b0abab40;
}
#results-container{
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    width: 50vw;
    height: 40vh;
    position: relative;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width : 450px){
    .menuButton{
        display: flex;
    }
    .navoption, .navlogin{
        display: none;
    }

    #hero-section{
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
    }
    #col1{
        display: flex;
    }
    #r1{
        font-size: 30px;
    }
    #r1, #r2{
        width: 100%;
    }
    #col-2{
        display: none;
    }
}
